body{
	margin: 0px;
	overflow: hidden;
}

#custom-canvas{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
    /* display: none; */
}

#warning{
	padding: 100px;
	transform: rotate(-10deg);
}

.button{
	position: fixed;
	z-index: 9;
	right: 0px;
	color: white;
	padding: 5px;
	font-family: monospace;
	cursor: pointer;
	border: 1px solid transparent;
}
.button:hover{
	background: rgba(255, 255, 255, .2);
	border: 1px solid black;
}

.tracker{
	width: 20px;
	height: 20px;
}

.glow-indicator,
.remove-indicator{
	position: fixed;
	width: 50px;
	height: 50px;
	display: none;
}
.glow-indicator{
	background: radial-gradient( white, transparent, transparent );
}
.remove-indicator{
	font-size: 3rem;
	background: none;
	text-shadow: 0px 0px 5px white;
}

